[submodule "RESTinCurl"]
	path = RESTinCurl
	url = https://github.com/jgaa/RESTinCurl.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/QCustomPlot-library"]
	path = thirdparty/QCustomPlot-library
	url = https://github.com/legerch/QCustomPlot-library.git
[submodule "thirdparty/crossguid"]
	path = thirdparty/crossguid
	url = https://github.com/84k491/crossguid.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
